<!-- 좌측 고정 네비게이션 바 -->
<div class="sidebar">
    <div class="container">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/member/login}">로그인</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/member/logout}">로그아웃</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/member/modify}">정보수정</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/member/delete}">계정 삭제</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/member/search}">비밀번호 변경</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/member/signup}">회원가입</a>
            </li>
            <div>
                <li class="nav-item" th:if="${dto != null && dto.memberstatus == 'admin' }">
                    <a class="nav-link" th:href="@{/member/admin}">관리자페이지</a>
                </li>           
            </div>
            <div>
               <li class="nav-item">
                   <a class="nav-link"  th:href="@{/post/create}">글쓰기</a>
                   <a class="nav-link"  th:href="@{/post/list}">글목록</a>
               </li>
            </div>
        </ul>
    </div>
</div>

<script>
window.onload = function() {     
    //주소 없을시 자동으로 수정폼으로 이동 + alert
    if("[[${dto}]]" !== "null" || "[[${dto}]]" !== "") {
       if ("[[${dto.address}]]" === "null" || "[[${dto.address}]]" === "") { 
           console.log("주소 값이 null임. alert를 띄우고 페이지를 이동합니다.");
           
           // alert 띄우기
           alert("주소 및 개인정보가 필요합니다. 해당 페이지에서 수정해주세요.");
   
           // 강제로 /member/modify 페이지로 이동
           window.location.href = "/member/modify";
       } else {
           console.log("주소 값이 null이 아님. 페이지 이동하지 않음.");
       }
    }
};
</script>
