<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Password</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        .centered {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .card {
            border: 2px solid #0056b3;
        }
        .btn-bordered {
            border: 2px solid #0056b3;
        }
    </style>
</head>
<body>
    <div class="container centered">
        <div class="card">
            <div class="card-body text-center">
                <h5 class="card-title">새 비밀번호 설정</h5>
                <form action="/member/update-password" method="post">
                	<input type="hidden" name="_csrf" th:value="${_csrf.token}">
                    <input type="hidden" name="username" th:value="${username}">
                    <div class="form-group">
                        <label for="newPassword">새 비밀번호</label>
                        <input type="password" id="newPassword" name="newPassword" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-bordered"><i class="fas fa-save"></i> 변경</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
